aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2022.12.7
chardet==4.0.0
discord==1.0.1
discord.py==1.7.2
dnspython==2.1.0
feedparser==6.0.2
idna==2.10
jikanpy==4.3.2
multidict==5.1.0
pycodestyle==2.7.0
pymongo==3.11.4
requests==2.25.1
sgmllib3k==1.0.0
simplejson==3.17.2
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
youtube-dl==2021.5.16
